# SCRAPE BACKFILL SETTINGS
EARLIEST_SEARCH_DATE=2020-01-01T00:00:00Z
# PROXY
SCRAPFILE_APIKEY=
# SETTINGS TO AVOID RATE LIMITS (DON'T MODIFY UNLESS YOU KNOW WHAT YOU'RE DOING)
WAYBACK_SLEEP_SECONDS=45
WAYBACK_BACKOFF_TIME=20
REQUEST_RETRY_COUNT=3
# API SETTINGS
DEFAULT_PAGE_SIZE=50
MAX_PAGE_SIZE=50
#django settings
DJANGO_SECRET=insecure_django_secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=#MODIFY IT RUNNING ON NON LOCAL SERVERS
DJANGO_CORS_ALLOW_ALL_ORIGINS=True #MODIFY TO FALSE IF RUNNING IN PROD
DJANGO_CORS_ALLOWED_ORIGINS=#MODIFY IF RUNNING IN PROD
# CELERY
CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=1
# POSTGRES
POSTGRES_HOST=pgdb
POSTGRES_PORT=5432
POSTGRES_DB=h4f_pgdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres