services:
    env_django:
        image: vulmatch
        extra_hosts:
            - "host.docker.internal:host-gateway"
        command: >
                bash -c "
                    python manage.py collectstatic --no-input &&
                        python manage.py makemigrations &&
                                python manage.py migrate
                    "
        volumes:
            - .:/usr/src/app
        environment:
            - DEBUG=1
            - CELERY_BROKER_URL=redis://redis:6379/0
            - result_backend=redis://redis:6379/1
        build: .
        env_file:
            - ./.env
    django:
        image: history4feed
        extends: env_django
        command: gunicorn history4feed.wsgi:application --bind 0.0.0.0:8002 --reload
        volumes:
            - .:/usr/src/app/
        ports:
            - 8002:8002
        depends_on:
            redis:
                condition: service_started
    celery:
        image: history4feed
        extends: env_django
        command: celery -A history4feed.h4fscripts worker -l INFO
        depends_on:
            - django
            - redis
    redis:
        image: "redis:alpine"