version: "3.8"
   
services:
    h4f_django:
        build: .
        command: >
                bash -c "
                    python manage.py makemigrations &&
                            python manage.py migrate &&
                            gunicorn history4feed.wsgi:application --bind 0.0.0.0:8000 --reload
                        "
        volumes:
            - .:/usr/src/app/
        ports:
            - 8000:8000
        environment:
            - DEBUG=1
            - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] h4f_django
            - CELERY_BROKER_URL=redis://redis:6379/0
        env_file:
            - ./.env
        depends_on:
            pgdb:
                condition: service_healthy
            redis:
                condition: service_started
    celery:
        build: .
        command: >
                bash -c "
                  celery -A history4feed.h4fscripts worker -l INFO
                  "
        volumes:
            - .:/usr/src/app
        environment:
            - DEBUG=1
            - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
            - CELERY_BROKER_URL=redis://redis:6379/0
            - result_backend=redis://redis:6379/1
        env_file:
            - ./.env
        depends_on:
            - h4f_django
            - redis
    pgdb:
        image: postgres
        env_file:
          - ./.env
        volumes:
            - pgdata:/var/lib/postgresql/data/
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 10s
            retries: 5
            start_period: 30s
            timeout: 10s
    redis:
        image: "redis:alpine"
volumes:
    pgdata: