services:
    django:
        image: history4feed
        build: .
        command: >
                bash -c "
                    python manage.py collectstatic --no-input &&
                        python manage.py makemigrations &&
                                python manage.py migrate &&
                                    gunicorn history4feed.wsgi:application --bind 0.0.0.0:8002 --reload
                        "
        volumes:
            - .:/usr/src/app/
        ports:
            - 8002:8002
        environment:
            - DEBUG=1
        env_file:
            - ./.env
    celery:
        image: history4feed
        build: .
        command: >
                bash -c "
                  celery -A history4feed.h4fscripts worker -l INFO
                  "
        volumes:
            - .:/usr/src/app
        environment:
            - DEBUG=1
        env_file:
            - ./.env
        depends_on:
            - django